---
http_interactions:
- request:
    method: get
    uri: https://api.twitter.com/2/users/48285188
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Authorization:
      - Bearer AAA...
  response:
    status:
      code: 200
      message: OK
    headers:
      Perf:
      - '7626143928'
      Api-Version:
      - '2.56'
      Content-Type:
      - application/json; charset=utf-8
      X-Access-Level:
      - read
      X-Transaction-Id:
      - 5f9ba4c781c3964b
      X-Rate-Limit-Limit:
      - '300'
      X-Rate-Limit-Reset:
      - '1670700449'
      Content-Disposition:
      - attachment; filename=json.json
      X-Rate-Limit-Remaining:
      - '299'
      X-Response-Time:
      - '122'
      X-Connection-Hash:
      - 564901832d69e32a1508012a1f1dbbc8ba0c5a8211a778db1c90afca811861b8
    body:
      encoding: ASCII-8BIT
      string: '{"data":{"id":"48285188","name":"christoph lipautz","username":"lipdaguit"}}'
  recorded_at: Sat, 10 Dec 2022 19:12:29 GMT
recorded_with: VCR 6.1.0
